*{
    margin: 0;
    padding: 0;
}

body{
    background: cadetblue;
    font:normal 15px arial ;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    color: aliceblue;
    padding: 10px;
}

section{
    background: honeydew;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(27, 27, 27);
}

#mensagem{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}

#foto{
    border-radius: 50px;
}

footer{
    padding-top: 10px;
    color: aliceblue;
    font-style: italic ;
}